<section class="msger">
    <header class="msger-header">
        <div class="level">
            <div class="level-left">
                <div class="msger-header-title">
                    <i class="fas fa-comment-alt"></i>
                    <h1 class="is-size-4">
                        <span class="initial">U</span>niverzitetne 
                        <span class="initial">R</span>ešitve: 
                        <span class="initial">Š</span>tudentski 
                        <span class="initial">K</span>omunikacijski 
                        <span class="initial">A</span>sistent
                    </h1>
                </div>
            </div>
            <div class="level-right">
                <div class="field">
                    <input 
                        id="switchRtlExample" 
                        type="checkbox" 
                        name="switchRtlExample" 
                        class="switch is-rtl" 
                        [(ngModel)]="sloConversation"
                    >
                    <label for="switchRtlExample">Slovenian</label>
                    <br>
                    <input 
                        id="switchHyde" 
                        type="checkbox" 
                        name="switchRtlExample" 
                        class="switch is-rtl" 
                        [(ngModel)]="hydeConversation"
                    >
                    <label for="switchHyde">HyDE</label>
                </div>
            </div>
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>
    <main #chat class="msger-chat">
        <div *ngFor="let historyMessage of messages">
            <app-message 
                [message]="historyMessage"
            ></app-message>
        </div>
    </main>

    <form class="msger-inputarea">
        <input 
            [(ngModel)]="messageContent" 
            type="text" 
            class="msger-input"
            placeholder="Enter your message..."
            name="messageInput"
        >
        <button 
            type="submit" 
            class="msger-send-btn" 
            (click)="sendMessage()"
            [disabled]="waiting"
        >
            Send
        </button>
    </form>
</section>