<div 
    class="msg mt-5"
    [ngClass]="{
        'right-msg': message?.type == 'user',
        'left-msg': message?.type == 'bot'
    }"
>
    <div
     class="msg-img"
     style="background-image: url(https://cdn1.vectorstock.com/i/1000x1000/16/60/chat-bot-icon-robot-virtual-assistant-vector-43541660.jpg)"
    ></div>

    <div class="msg-bubble">
      <div class="msg-info">
        <div class="msg-info-name">{{ getName() }}</div>
      </div>

      <div class="msg-text">
        <!-- disable sanitizer using markdown component -->
        {{message?.content}}
      </div>
    </div>
  </div>