@import 'bulma/bulma.sass'
@import 'bulma-switch/src/sass/index.sass'

:root 
  /* FAMNIT THEME */
  --body-bg: linear-gradient(135deg, #EEF5FF 0%, #86B6F6 100%)
  --msger-bg: #FFE6C7
  --msger-chat-bg: #FFFFFF
  --border: 2px solid #414d70
  --left-msg-bg: #d3d3d3
  --right-msg-bg: #86B6F6
  --primary: #176B87
  --secondary: #86B6F6
  --secondary-light: #B4D4FF
  --gray: #414d70
  --gray-light: #f1f1f1

  /*  ORANGE THEME */
  // --body-bg: linear-gradient(135deg, #FFE6C7 0%, #FFA559 100%)
  // --msger-bg: #FFE6C7
  // --msger-chat-bg: #595959
  // --border: 2px solid #404040
  // --left-msg-bg: #FFE6C7
  // --right-msg-bg: #FFA559
  // --primary: #FF6000
  // --secondary: #FFA559
  // --secondary-light: #FFE6C7
  // --gray: #454545
  // --gray-light: #d7d7d7

// html 
//   box-sizing: border-box


html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6
  padding: revert



body 
  background-image: var(--body-bg)
  height: 100vh
//   display: flex
//   justify-content: center
//   align-items: center
//   font-family: Helvetica, sans-serif


.msger 
  display: flex
  flex-flow: column wrap
  justify-content: space-between
  margin: auto
  width: 100%
  /*max-width: 90%*/
  border: var(--border)
  border-radius: 5px
  background: var(--msger-bg)
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2)
  height: 100%
  overflow: scroll


.msger-header 
  /*display: flex*/
  /*justify-content: space-between*/
  padding: 10px
  border-bottom: var(--border)
  background: var(--gray)
  color: var(--gray-light)

.msger-chat 
  flex: 1
  overflow-y: auto
  padding: 10px
  background-color: var(--msger-chat-bg)

.msger-chat::-webkit-scrollbar 
  width: 6px

.msger-chat::-webkit-scrollbar-track 
  background: var(--secondary-light)

.msger-chat::-webkit-scrollbar-thumb 
  background: var(--secondary-light)

.msg 
  display: flex
  align-items: flex-end
  margin-bottom: 10px

.msg:last-of-type 
  margin: 0

.msg-img 
  min-width: 50px
  height: 50px
  margin-right: 10px
  background: var(--gray)
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  border-radius: 50%

.msg-bubble 
  /*max-width: 450px*/
  padding: 15px
  border-radius: 15px
  background: var(--left-msg-bg)

.msg-info 
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 10px

.msg-info-name 
  margin-right: 10px
  font-weight: bold

.msg-info-time 
  font-size: 0.85em


.left-msg .msg-bubble 
  border-bottom-left-radius: 0


.right-msg 
  flex-direction: row-reverse

.right-msg .msg-bubble 
  background: var(--right-msg-bg)
  color: var(--gray)
  border-bottom-right-radius: 0

.right-msg .msg-img 
  margin: 0 0 0 10px


.msger-inputarea 
  display: flex
  padding: 10px
  border-top: var(--border)
  background: var(--gray)

.msger-inputarea * 
  padding: 10px
  border: none
  border-radius: 3px
  font-size: 1em

.msger-input 
  flex: 1
  background: var(--gray-light)

.msger-send-btn 
  margin-left: 10px
  background: var(--secondary)
  color: var(--gray-light)
  font-weight: bold
  cursor: pointer
  transition: background 0.23s

.msger-send-btn:hover 
  background: var(--secondary-light)

  
